# Default ignored files
/.idea/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

/Datenbank-API/.idea/
.idea/

./config.json
/config/

/Backend/ImageUpload/node_modules/
/Backend/Login/node_modules/
/Backend/PDF-Share/node_modules/
/Datenbank-API/node_modules/
/Frontend/node_modules/
/Global-API/node_modules/