# Default ignored files
/.idea/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

./config.json
/Datenbank-API/.idea/
.idea/
/Datenbank-API/config.json
/Backend/Login/config.json

/Backend/Login/node_modules/
/Backend/PDF-Share/node_modules/
/Datenbank-API/node_modules/
/Frontend/node_modules/
/config/
