.footer {
    background-color: #4A4A4A;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__text {
    margin: 0;
}
