.hero {
    background-color: #07536D;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.hero__content {
    max-width: 800px;
    margin: 0 auto;
}

.hero__title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero__subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero__button {
    background-color: #f0a500;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.hero__button:hover {
    background-color: #d87a00;
}
