.recipes__list{
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    background-color: #4A4A4A;
    padding: 10% 2%;
    color: #fff;
    height: 10%;
    /*align-items: center;*/
}
.navbar__logo {
    display: flex;
    width: 30%; /* Breite des Bildes */
    height: auto; /* Höhe wird automatisch angepasst */
    margin: 0 2%; /* Abstand zwischen Bild und Text */
}

.navbar__title {
    display:flex;
    font-weight: bold;
    margin: 0 1%;
    align-items: center;
    width: 25%;
}

.navbar__projectname {
    display: flex;
    font-size: 250%;
    font-weight: bold;
    margin: 0 2%;
    align-items: center;
    width:52%;
    color: #ffffff;
    text-decoration: none;
}

/* Styles für die Suchleiste */
.navbar__search {
    display: flex;
    width: 40%;
}

.navbar__search-input {
    display: flex;
    padding: 0.1% 1.1%;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin: 2% 2%;
    width: 100%;
    background-color: #cbd6dd;
}

.navbar__search-input:focus {
    border-color: #007acc; /* Fokus-Farbe (blau) */
}

.navbar__search-button {
    display: flex;
    padding: 5px 5px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.navbar__search-button:hover {
    background-color: #005f99;
}

/* Container für Login und Kategorien Buttons */
.navbar-actions {
    display: flex;
    width:30%;
    justify-content: flex-end;
}

.navbar__link {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 5px 15px;
    background-color: #07546e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2% 2%;
}

.navbar__link:hover {
    color: #BBEAFA;
}
