.body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.personalHome {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 100%;
    background-color: white;
    align-items: center;
}

.personalHome-main {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #f4f4f4;
}

.personalHome-main-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personalHome-main-head__button {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1% 10%;
    background-color: #07546e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2% 2%;
}

.personalHome-main-head__button:hover {
    background-color: #65899c;
}

.personalHome-choose-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.personalHome-ownRecipes, .personalHome-ratedRecipes {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: #122832;
    font-size: 1.5rem;
    padding: 1% 10%;
    background-color: #4c778c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2% 2%;
}

.personalHome-ownRecipes[value='disable'], .personalHome-ratedRecipes[value='disable'] {
    background-color: #cbd6dd;
}

.home-recipes-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 1.25rem;
}

.recipes-table thead th {
    background-color: #4c778c;
    color: white;
    padding: 12px;
    text-align: left;
}

.recipes-table tbody tr {
    background-color: white;
}

.recipes-table tbody tr:hover {
    background-color: #e5ebee;
    cursor: pointer;
}

.recipes-table td, .recipes-table th {
    padding: 12px;
    border: 1px solid #ddd;
}

.recipes-table img {
    max-height: 300px;
    object-fit: cover;
}

.recipes-table th[scope="row"] {
    background-color: #f8f9fa;
}

.recipes-table th:nth-child(1),
.recipes-table td:nth-child(1) {
    width: 3%;
}

.recipes-table th:nth-child(2),
.recipes-table td:nth-child(2) {
    width: 50%;
}

.recipes-table th:nth-child(3),
.recipes-table td:nth-child(3) {
    width: 30%;
}

.recipes-table th:nth-child(4),
.recipes-table td:nth-child(4) {
    width: 20%;
}

.home-recipes-table {
    margin: 0 2%;
    display: flex;
    width: 75%;
    flex-direction: column;
}

.home-recipes-error {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2% 0.2%;
    height: auto;
    margin: 0 2%;
    margin-bottom: 10%;
}

.personalHome-main-div {
    display: flex;
    justify-content: flex-start;
}

.delete-button {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    margin: 10% 10%;
}

.delete-icon {
    display: flex;
    width: 75%;
}

@media only screen and (max-width: 768px) {
    .hero__title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .hero__subtitle {
        font-size: 1rem;
        margin-bottom: 20px;
        color: #b1c3cd;
    }

    .hero {
        padding: 5% 5%;
    }

    .personalHome-main-head__button {
        font-size: 1rem;
        display: flex;
    }

    .home-recipes-table {
        justify-content: center;
        flex-direction: row;
        flex: 1;
    }

    .personalHome-main {
        max-width: 100%;
        margin: 0 0;
    }

    .personalHome-main-head {
        flex-direction: row;
    }

    .personalHome-choose-buttons {
        display: none;
    }

    .personalHome-main-div {
        justify-content: center;
    }

    .ownPage-actions-mobile {
        display: flex;
        position: fixed;
        justify-content: center;
        flex-direction: column;
        background-color: #e5ebee;
        width: 100%;
        top: 51vh;
        border-right: 15px;
        z-index: 10010;
    }

    .ownPage-mobile-menu-buttons {
        display: flex;
        text-decoration: none;
        color: #07546e;
        font-size: 1rem;
        padding: 0.5% 0.5%;
        background-color: #e5ebee;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 1% 1%;
        justify-content: center;
    }
}

body{
    background-color: #fcfcfc;
}

.row{
    margin:auto;
    padding: 30px;
    width: 80%;
    display: flex;
    flex-flow: column;
    .card{
        width: 100%;
        margin-bottom: 5px;
        display: block;
        transition: opacity 0.3s;
    }
}


.card-body{
    padding: 0.5rem;
    table{
        width: 100%;
        tr{
            display:flex;
            td{
                a.btn{
                    font-size: 0.8rem;
                    padding: 3px;
                }
            }
            td:nth-child(2){
                text-align:right;
                justify-content: space-around;
            }
        }
    }

}


.card-title {
    text-align: start;
}

.card-title:before{
    display:inline-block;
    font-family: 'Font Awesome\ 5 Free';
    font-weight:900;
    font-size: 1.1rem;
    text-align: center;
    border: 2px solid grey;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    padding-bottom: 3px;
    margin-right: 10px;
}

.notification-invitation {
    .card-body {
        .card-title:before {
            color: #90CAF9;
            border-color: #90CAF9;
            content: "\f007";
        }
    }
}

.notification-warning {
    .card-body {
        .card-title:before {
            color: #FFE082;
            border-color: #FFE082;
            content: "\f071";
        }
    }
}

.notification-danger {
    .card-body {
        .card-title:before {
            color: #FFAB91;
            border-color: #FFAB91;
            content: "\f00d";
        }
    }
}

.notification-reminder {
    .card-body {
        .card-title:before {
            color: #CE93D8;
            border-color: #CE93D8;
            content: "\f017";
        }
    }
}

.card.display-none{
    display: none;
    transition: opacity 2s;
}

