.main-content {
    width: 60%;
}

@media only screen and (max-width: 768px) {
    .main-content {
        width: 100%;
    }
}

.recipes__container {
    transition: opacity 0.5s ease;
    will-change: opacity;
}

.recipes__container.fade-out {
    opacity: 0;  /* Inhalte ausblenden */
}

.recipes__container.fade-in {
    opacity: 1;  /* Inhalte einblenden */
}