.categories__title {
    font-size: 2.25rem;
    margin: 20px 10px;
    width: 70%;
}

.categories__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column; /* Ändere auf row, wenn die Karten nebeneinander stehen sollen */
    margin: 5% 5%;
    margin-right: 15%;
}

.categories {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    width: 30%; /* Beibehaltung der Breite für die Kategorie */
}

.categories-main-content {
    display: flex;
    justify-content: space-between; /* Verteile den Platz zwischen den beiden Sektionen */
    width: 100%; /* Stelle sicher, dass der Container die gesamte Breite hat */
    flex-direction: row;
}

.recipes-table {
    width: 100%; /* Fülle den gesamten verfügbaren Platz */
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
}

.recipes-table thead th {
    background-color: #07546E;
    color: white;
    padding: 12px;
    text-align: left;
}

.recipes-table tbody tr {
    transition: background-color 0.3s;
}

.recipes-table tbody tr:hover {
    background-color: #e5ebee;
    cursor: pointer;
}

.recipes-table td, .recipes-table th {
    padding: 12px;
    border: 1px solid #ddd;
}

.recipes-table img {
    max-height: 300px;
    object-fit: cover;
}

.recipes-table th[scope="row"] {
    background-color: #f8f9fa;
}

.recipes-by-category {
    margin-top: 2.5%;
    display: flex;
    flex-direction: column; /* Die Tabelle soll vertikal angeordnet sein */
}

.recipes-table th:nth-child(1), /* Index */
.recipes-table td:nth-child(1) {
    width: 3%; /* Breite für die Index-Spalte */
}

.recipes-table th:nth-child(2), /* Titel */
.recipes-table td:nth-child(2) {
    width: 50%; /* Breite für die Titel-Spalte */
}

.recipes-table th:nth-child(3), /* Kategorie */
.recipes-table td:nth-child(3) {
    width: 30%; /* Breite für die Kategorie-Spalte */
}

.recipes-table th:nth-child(4), /* Bild */
.recipes-table td:nth-child(4) {
    width: 20%; /* Breite für die Bild-Spalte */
}

.menu-button-mobile-categories {
    display: none;
}

@media only screen and (min-width: 769px) {
    .menu-button-mobile-categories {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .categories__list {
        display: none;
    }

    .categories-main-content {
        flex-direction: column; /* Untereinander auf mobilen Geräten */
        align-items: center; /* Zentriere die Elemente auf mobilen Geräten, wenn nötig */
    }

    .categories__title {
        display: flex;
        max-height: 10%;
        font-size: 1.5rem;
        margin: 1% 1%;
    }

    .menu-button-mobile-categories {
        display: flex;
        width: 10%;
        height: 10%;
        margin: 1% 1%;
        margin-right: 5%;
    }

    .categories, .recipes-by-category {
        display: flex;
        width: 100%;
    }

    .categories {
        justify-content: center;
        flex-direction: row;
    }

    .recipes-by-category {
        margin-top: -5%;
    }

    .recipes-table {
        font-size: 1rem;
    }

    .recipes-table td {
        padding: 1%;
    }

    .categories-actions-mobile {
        display: flex;
        position: fixed;
        justify-content: center;
        flex-direction: column;
        background-color: #e5ebee;
        width: 100%;
        top: 30vh;
        border-right: 15px;
        z-index: 10010;
    }

    .categories-mobile-menu-buttons {
        display: flex;
        text-decoration: none;
        color: #07546e;
        font-size: 1rem;
        padding: 0.5% 0.5%;
        background-color: #e5ebee;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 1% 1%;
        justify-content: center;
    }
}