.body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.showRecipe {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 100%;
    background-color: white;
    align-items: center;
}

.showRecipe-hero {
    background-color: #07536D;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.showRecipe-contentfield {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.showRecipe-contentfield-left {
    flex: 1;
    text-align: center;
    align-items: center;
}

.showRecipe-contentfield-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    width: 20%;
    border-radius: 20px;
}

.showRecipe-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.showRecipe-category {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #b1c3cd;
}

.showRecipe-properties {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10% 10%;
    font-size: 1000px;
    color: white;
}

.showRecipe-properties-allergen .showRecipe-properties-vegetarian .showRecipe-properties-vegan {
    font-size: 1000%;
    color: white;
}

.showRecipe-main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #f4f4f4;
}

.showRecipe-main-head {
    display: flex;
}

.separator-line {
    border-bottom: 2px solid #ccc;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hero__img {
    display: flex;
    width: 45%;
    height: auto;
    padding: max(5%) max(5%);
    align-items: center;
    justify-content: center;
}

.showRecipe-properties-ingredients {
    display: flex;
    width: 45%;
    height: auto;
    text-align: left;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 5%;
}

.showRecipe-properties-steps {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3% 3%;
    padding-left: 7%;
    margin-left: 10%;
    margin-right: 10%;
    counter-reset: step-counter;
}

.recipes-step {
    counter-increment: step-counter;
    position: relative;
    padding-left: 7%;
    margin-bottom: 10px;
}

.recipes-step::before {
    content: counter(step-counter) ". ";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: black;
}



.showRecipe-properties-ingredients-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: center;
    padding: 1% 1%;
}

.showRecipe-properties-step-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: center;
    padding: 1% 1%;
}

.recipes-ingredient, .recipes-step {
    margin: 5px 0;
}

.actions-field{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 3%;
    padding-left: 7%;
    margin-left: 10%;
    margin-right: 10%;

}

.download-button {
    display: flex;
    color: white;
    font-size: 1.5rem;
    padding: 2% 5%;
    background-color: #07546e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5% 5%;
}

.download-button:hover {
    background-color: #65899c;
}

.rating-system, .fake-rating-system {
    display: flex;
    padding: 1% 1%;
    align-items: center;
    margin-left: 10%;
    width: 30%;
}

.rating-system-header {
    display: flex;
    padding: 1% 1%;
    align-items: center;
    margin-left: 10%;
    width: 20%;
    margin:auto;
}

.rating-null {
    margin-left: auto;
    font-size: 1rem;
    color: #65899c;
}

.first-star, .second-star, .third-star, .fourth-star, .fifth-star {
    display: flex;
    margin: 3% 3%;
    width: 100%;
}

.star-system {
    display: flex;
}

.message {
    display: flex;
    padding: 1% 1%;
    background-color: #b1c3cd;
    text-align: center;
    max-height: 75%;
    max-width: 45%;
    color: white;
    border-radius: 15px;
    border: 3px solid #7e9cac;
    font-size: 1.5vh;
    margin-left: 5%;
}