.rfilled:hover {
    fill: #07536D;
}

.rfilled {
    fill: #ffffff;
}

.filled {
    fill: #07536D;
}

.rating-system-header {
    display: contents;
    padding: 1% 1%;
    align-items: center;
    width: 20%;
    margin: auto;
}

.body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.bookmark {
    width: 33%;
}

.bookmark-button {
    width: 20%;
    height: 20%;
    display: inline-block;
    margin: 0;
    background-color: #e5ebee;
    padding: 2% 2%;
    border-radius: 10px;
}

.bookmark-button:hover {
    background-color: #b1c3cd;
}

.star-system {
    display: flex;
}

.showRecipe {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 100%;
    background-color: white;
    align-items: center;
}

.showRecipe-hero {
    background-color: #07536D;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.showRecipe-contentfield {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.showRecipe-contentfield-left {
    flex: 1;
    text-align: center;
    align-items: center;
}

.showRecipe-contentfield-right {
    position: absolute;
    right: -5%;
    top: 75%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
}

.showRecipe-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.input-field-reqired-filled {
    background-color: #07546E;
    border-color: #65899c;
    border-radius: 10px;
}

.input-field-reqired-empty {
    background-color: #07546E;
    border: solid 3px #5C0002;
    border-radius: 10px;
}

.showRecipe-category {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #b1c3cd;
}

.showRecipe-properties {
    display: flex;
    width: 100%;
    margin: 10% 10%;
    margin-top: 0;
    font-size: 1000px;
    color: white;
}

.category-dropdown-filled {
    background-color: #07546E;
    border-color: #65899c;
    border-radius: 10px;
}

.category-dropdown-empty {
    background-color: #07546E;
    border: solid 3px #5C0002;
    border-radius: 10px;
}

.showRecipe-properties-allergen .showRecipe-properties-vegetarian .showRecipe-properties-vegan {
    font-size: 1000%;
    color: white;
}

.showRecipe-main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #f4f4f4;
}

.showRecipe-main-head {
    display: flex;
}

.separator-line {
    border-bottom: 2px solid #ccc;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hero__preimg {
    display: flex;
    width: 90%;
    height: auto;
    padding: max(5%) max(5%);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    object-fit: contain;
}

.showRecipe-properties-ingredients {
    display: flex;
    width: 55%;
    height: auto;
    text-align: left;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 5%;
}

.showRecipe-properties-steps {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3% 3%;
    padding-left: 7%;
    margin-left: 10%;
    margin-right: 10%;
    counter-reset: step-counter;
}

.recipes-step {
    counter-increment: step-counter;
    position: relative;
    padding-left: 7%;
    margin-bottom: 10px;
}

.step-row {
    width: 100%;
}

.step-input-field-filled {
    background-color: #fafafa;
    border: solid 3px #fafafa;
    border-radius: 10px;
    width: 75%;
    padding: 0.5% 0.5%;
    margin: 1% 1%;
}

.step-input-field-empty {
    background-color: #fafafa;
    border: solid 3px #5C0002;
    border-radius: 10px;
    width: 75%;
    padding: 0.5% 0.5%;
    margin: 1% 1%;
}

.recipes-step::before {
    content: counter(step-counter) ". ";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: black;
}

.showRecipe-properties-ingredients-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: center;
    padding: 1% 1%;
}

.showRecipe-properties-step-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: center;
    padding: 1% 1%;
}

.recipes-ingredient, .recipes-step {
    margin: 5px 0;
}

.actions-field {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 3%;
    padding-left: 7%;
    margin-left: 10%;
    margin-right: 10%;

}

.download-button {
    display: flex;
    color: white;
    font-size: 1.5rem;
    padding: 2% 5%;
    background-color: #07546e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5% 5%;
}

.download-button:hover {
    background-color: #65899c;
}

.rating-system, .fake-rating-system {
    display: flex;
    padding: 1% 1%;
    align-items: center;
    margin-left: 10%;
    width: 30%;
}

.rating-text {
    font-size: 1.5rem;
    margin-left: 2%;
    width: 110%
}


.rating-null {
    margin-left: auto;
    font-size: 1rem;
    color: #65899c;
}

.star-system {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
}

.message {
    display: block;
    position: absolute;
    bottom: auto;
    left: 35%;
    padding: 1% 1%;
    background-color: #b1c3cd;
    text-align: center;
    max-height: 75%;
    max-width: 45%;
    color: white;
    border-radius: 10px;
    border: 3px solid #7e9cac;
    font-size: 1.5vh;
    margin-left: 5%;
}

.allergen-symbol {
    display: flex;
    width: 20%;
    margin: 1% 1%;
}

.allergen-symbol-grey {
    display: flex;
    width: 20%;
    margin: 1% 1%;
    filter: grayscale(100%);
    color: grey;
}

.allergen-symbol-invert {
    display: flex;
    width: 20%;
    margin: 1% 1%;
    filter: invert(1) brightness(0.5);
    color: grey;
}

.allergen-instructions {
    font-size: 1rem;
    text-align: center;
    width: 120%;
    padding: 0 10%;
    color: #aebec5;
}

.allergen-instructions-empty {
    font-size: 1rem;
    text-align: center;
    width: 120%;
    padding: 0 10%;
    color: #5C0002;
}

.not-visable {
    display: none;
}

.showRecipe-properties-ingredients-map {
    width: 100%;
    flex-direction: column;
}

.ingredient-input-filled {
    background-color: #fafafa;
    border: solid 3px #fafafa;
    border-radius: 10px;
    width: 75%;
    padding: 0.5% 0.5%;
    margin: 1% 1%;
}

.add-ingredient-button {
    padding: 0.5% 1%;
    background-color: #94a9b3;
    color: white;
    border: solid 2px #07546E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.add-ingredient-button:hover {
    background-color: #07546E;
}

.remove-ingredient-button:hover {
    background-color: #07546E;
}

.remove-ingredient-button {
    background-color: #94a9b3;
    border: 1px solid #e5ebee;
    color: #e5ebee;
    padding: 0 1.2%;
    margin: 1% 1%;
    margin-left: 3%;
    border-radius: 5px;
    cursor: pointer;
}

.ingredient-input-empty {
    background-color: #fafafa;
    border: solid 3px #5C0002;
    border-radius: 10px;
    width: 75%;
    padding: 0.5% 0.5%;
    margin: 1% 1%;
}

.rating-null {
    margin-left: auto;
    font-size: 1rem;
    color: #65899c;
}

.rating-system-header {
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
    gap: 5px;
}

.rating-system, .fake-rating-system {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: auto;
    gap: 5px;
}

.first-star, .second-star, .third-star, .fourth-star, .fifth-star {
    display: flex;
    width: 25px;
    height: auto;
    margin: 0 5px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .first-star, .second-star, .third-star, .fourth-star, .fifth-star {
        width: 20px;
        margin: 0 3px;
    }

    .rating-text {
        font-size: 1rem;
    }
}

.rfilled:hover {
    fill: #07536D;
}

.save-rating-confirm {
    display: block;
    position: absolute;
    bottom: auto;
    left: 35%;
    padding: 1% 1%;
    background-color: transparent;
    text-align: center;
    max-height: 75%;
    max-width: 45%;
    color: black;
    font-size: 1.5vh;
    margin-left: 7%;
    margin-top: 4.5%;
}

.difficulty-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.difficulty-labels {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;
    padding: 0 20px;
}

.difficulty-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    flex-grow: 1;
    text-align: center;
}

.difficulty-label:first-child {
    text-align: left;
}

.difficulty-label:last-child {
    text-align: right;
}

.difficulty-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 16px;
    background: #ddd;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.15s ease-in-out;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}

.difficulty-slider:hover {
    opacity: 1;
}

.difficulty-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #07546E;
    cursor: pointer;
    margin-top: -6px;
    transition: background 0.15s ease-in-out;
}

.difficulty-slider::-moz-range-thumb {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #07546E;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.difficulty-slider::-webkit-slider-thumb:hover,
.difficulty-slider::-moz-range-thumb:hover {
    background: #07546E;
}

.submit-recipe-button {
    padding: 12px 24px;
    background-color: #07546E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5%;
}

.submit-recipe-button:hover {
    background-color: #7e9cac;
    color: #07546E;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: none;
    width: 50%;
    margin: auto;
}

.image-preview {
    position: relative;
    border: solid 2px #07546E;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-image-button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #94a9b3;
    color: white;
    border: solid 2px #07546E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.remove-image-button:hover {
    background-color: #07546E;
    color: white;
}

.image-upload-input, .image-url-input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: solid 2px #5C0002;
    border-radius: 10px;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s ease;
}

.image-upload-input:focus, .image-url-input:focus {
    border-color: #07546E;
    outline: none;
    box-shadow: none;
}