body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.main-content {
    padding: 20px;
    width: 80%;
}

.recipes {
    max-width: 1200px;
    margin: 0 auto;
}

.recipes__title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.recipes-link {
    text-decoration: none;
    color: black;
}

.recipes__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-decoration: none;
}