.popupWindow {
    position: fixed;
    top: 20px;
    right: 35vw;
    padding: 0.5% 10%;
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 500;
    z-index: 1000;
    animation: fadeInOut 10s ease forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
