.popupWindow {
    position: fixed;
    padding: 3% 5%;
    background-color: #b4806d;
    left: 1px;
    top: 1px;
    text-align: center;
    max-height: 10%;
    max-width: 40%;
    color: white;
    border-radius: 15px;
    border: 10px solid #6e2107;
    font-size: 3vh;
    line-height: 5%;
}
